<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShareMeetUps</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>


    <div class="menu1">
        @if (!User.Identity.IsAuthenticated)
        {
            <ul class="menu-main1">
                <li><a href="" class="current"><img src="~/img/Group 4.png"></a></li>
                <li><a href="">Поиск</a></li>
                <li><a href="">Найти событие</a></li>
                <li><a href="">Разместить событие</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Main">О компании</a></li>
                <li><a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a></li>
                <li><a asp-area="" asp-controller="Account" asp-action="Login">Вход</a></li>
            </ul>
        }
        else
        {
            <ul class="menu-main1">
                <li><a href="" class="current"><img src="~/img/Group 4.png"></a></li>
                <li><a href="">Поиск</a></li>
                <li><a href="">Найти событие</a></li>
                <li><a href="">Разместить событие</a></li>
                <li><a asp-area="" asp-controller="Profile" asp-action="Profile">Профиль</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Main">О компании</a></li>
                <li><a asp-area="" asp-controller="Account" asp-action="Logout">Выход</a></li>
            </ul>
        }
    </div>

    @RenderBody()

    <div class="endtext">
        <div class="ser">
            Харьков – северная столица Украины. Культура и интеллигенция. Именно эти фразы ассоциативно приходят на ум. А это значит, что в этом городе собраны ценнейшие исторические достопримечательности, музейные комплексы и арт-галереи. И туристу, и местному жителю здесь найдется развлечение по душе. При этом, многие задумываются и не знают, куда сходить в Петербурге погулять, какие красивые места нужно обязательно увидеть и какие мероприятия проходят в городе на этой неделе.
            <br>
            <br>
            Питер – город, который не стоит на месте. Здесь всегда происходит движение. Днем на улицах воздух пропитан работой - все заведения открыты, офисы полны работников, в университетах и школах вовсю раздают знания. Но стоит только солнцу спрятаться за горизонт, настроение в городе резко меняется на отдых и развлечения. Выйдя с работы или универа, каждый хочет увидеться с близкими в уютной обстановке. Для каждого она своя – одни любят домашние теплые вечера, а для кого-то обязательно нужно сходить в шумные бары и отведать свою порцию танцев,  и не только. Благо, афиша мероприятий Петербурга пестрит разными событиями. Так что, куда сходить в Санкт-Петербурге, найдет каждый.
        </div>
    </div>

    <div class="footer213">
        <div class="end33">
            <img src="~/img/Group 4.png">
        </div>
        
            <div class="end11">
                <div>
                    О проекте
                </div>
                <div>
                    Оферта
                </div>
            </div>
            <div class="end22">
                Контакты
            </div>
       
    </div>
    <div class="endback">
    </div>
    <div class="endback1">
        2000, ShareMeetUp
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style type="text/css">
        .footer213 {
            display: flex;
            height: 140px;
            font-size: 30px;
            background: #d9751e;
        }

        .end11 {
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

        .end22 {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .end33 {
            margin-left: auto;
            margin-right: auto;
        }

        .end4 {
            display: flex;
        }
        .mid {
            height: auto;
        }

        .endback1 {
            background: #bf2011;
            font-family: Rasa;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 28px;
            padding-top: 18px;
            padding-left: 160px;
            padding-bottom: 18px;
            color: #FFFFFF;
        }

        .endback {
            height: 20px;
            background: #bf2011;
        }




        .endtext {
            width: 100%;
            margin: auto;
            padding-top: 26px;
            padding-bottom: 26px;
            background-color: #e3d59d;
        }
        .ser {
            width: 90%;
            margin: auto;
        }

        .midbackground {
            background-color: #f3f5d3;
        }

        .Filtr2 {
            margin-top: 20px;
            display: flex;
            background-color: #f3f5d3;
            padding-bottom: 20px;
        }

        .Filtr2text {
            display: flex;
        }

        .Filtr2right {
            text-decoration: none;
            color: #000000;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 32px;
            margin-right: 100px;
            margin-left: auto;
            display: flex;
            background-color: #f3f5d3;
        }

        .Filtr2 a {
            text-decoration: none;
            color: black ;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 32px;
        }

        .Filtr1 {
            display: flex;
        }

        .Filtr1text {
            display: flex;
        }

        .Filtr1right {
            text-decoration: none;
            color: black;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 32px;
            margin-right: 100px;
            margin-left: auto;
        }

        .Filtr1 a {
            text-decoration: none;
            color: black;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 32px;
        }

        .midle2 a {
            text-decoration: none;
            color: black;
            padding-left: 20px;
            padding-right: 20px;
        }

        .midle2 {
            background-color: #f3f5d3;
            display: flex;
            margin: auto;
            text-align: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 72px;
            line-height: 84px;
            width: 670px;
            color: #000000;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .midle1 {
            background-color: #f3f5d3;
            margin: auto;
            text-align: center;
            padding-top: 50px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 72px;
            line-height: 84px;
            color: black;
        }

        .menu1 li {
           
            margin-top: auto;
            margin-bottom: auto;
            margin-right: auto;
            margin-left: auto;
            white-space: nowrap;
           
            text-align: center;
        }
        
        .menu3 li {
            padding-right: 15px;
            padding-left: 15px;
            margin-top: auto;
            margin-bottom: auto;
        }

        .menu2 li {
            padding-right: 15px;
            padding-left: 15px;
            margin-top: auto;
            margin-bottom: auto;
        }

        .menu2 a {
            text-decoration: none;
            color: #FFFFFF;
        }

        .menu3 a {
            text-decoration: none;
            color: black;
        }

        .menu1 a {
            text-decoration: none;
            color: #000000;
            font-size:25px;
        }

        .menu2 {
            width: 100%;
            background-color: #bf2011;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 56px;
            color: #FFFFFF;
        }

        .menu-main1 {
            text-align: center;
        }

        .menu1 {
          
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 56px;
            color: #FFFFFF;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            margin-top:10px;
            margin-bottom:10px;
            
        }

        .body {
            max-width: 100%;
        }

        .menu3 {
            width: 100%;
            background-color: #d9751e;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 56px;
            color: #FFFFFF;
        }

        ul.menu-main3 {
            display: flex;
            list-style: none; /*убираем маркеры списка*/
            margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
            padding-left: 0; /*убираем левый отступ, равный 40px*/
            height: 85px;
            margin: auto;
            width: 1400px;
        }

        ul.menu-main2 {
            display: flex;
            list-style: none; /*убираем маркеры списка*/
            margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
            padding-left: 0; /*убираем левый отступ, равный 40px*/
            height: 85px;
            margin: auto;
            width: 1600px;
        }

        ul.menu-main1 {
            width:100%;
            
            display: flex;
            list-style: none; /*убираем маркеры списка*/
            margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
            padding-left: 0; /*убираем левый отступ, равный 40px*/
        }
        @@media screen and (max-width:1800px) {
            ul.menu-main1 {
               display:block;

            }
        }
      

        a {
            display: block;
        }

        .header {
            list-style: none;
            text-align: center;
            background: white;
        }

        .body {
            margin: 0;
            position: relative;
            margin-bottom: 0px;
        }
    </style>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
