@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="top">
    <div class="text">
        ShareMeetUp
    </div>
    <div class="rect">
        <p>
            <div class="rectangle1">
                <img src="img/image 5.png" class="rectangletext1">
                <div class="rectangletext1">
                    Индия

                </div>
            </div>
            <div class="rectangle2">
                <img src="img/image 4.png" class="rectangletext2">
                <div class="rectangletext2">
                    Рим

                </div>

            </div>
        </p>
    </div>
</div>
<div class="main">
    ShareMeetUp - это
</div>
<div class="main">
    <img src="img/Group 14.png" class="main">
    <img src="img/Group 15.png" class="main">
    <img src="img/Group 16.png" class="main">
</div>
<div class="adtext">
    <div class="adtext1">
        Я организатор.<br>
        Хочу бесплатно <br>
        разместить обьявление <br>
    </div>
    <div class="adrect">
        <p class="adrect">Разместить событие</p>
    </div>
</div>


<style type="text/css">
    .endback1 {
        background: #3A3A3A;
        font-family: Rasa;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 28px;
        padding-top: 18px;
        padding-left: 160px;
        padding-bottom: 18px;
        color: #FFFFFF;
    }

    .endback {
        height: 20px;
        background: #CBCBCB;
    }

    table.end {
        width: 70%;
        margin: auto;
        padding-top: 0px;
    }

    td.end {
        width: 350px;
    }

    div.end1 {
        margin-top: -50px;
    }

    .castil {
        color: #CBCBCB;
    }

    br.end {
        height: 0px;
    }

    .end {
        background: #CBCBCB;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        background: #CBCBCB;
        color: #000000;
    }

    img.end {
        height: 124px;
        width: 387px;
    }

    .adtext1 {
        text-align: left;
        width: 750px;
        margin-left: calc(100vw / 2 - 321px);
        height: 225px;
        margin-top: 0px;
        padding-top: 0px;
        font-family: 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 75px;
    }

    p.adrect {
        padding-top: 34px;
        padding-bottom: 34px;
        height: 75px;
    }

    .adrect {
        text-align: center;
        background: #ECECEC;
        width: 800px;
        height: 143px;
        margin: auto;
        background: #E9C300;
        border-radius: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 75px;
        margin-top: 32px;
        color: #000000;
    }

    .adtext {
        text-align: center;
        background: #ECECEC;
        padding-top: 55px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 75px;
        height: 475;
        color: #000000;
        padding-bottom: 75px;
    }

    img.main {
        margin-top: 0px;
        margin-left: 90px;
        margin-right: 90px;
    }

    .main {
        margin-top: 78px;
        margin-bottom: 25px;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 96px;
        /* identical to box height */
        color: #000000;
    }

    img.rectangletext1 {
        width: 204px;
        height: 210px;
        margin-left: 228px;
        margin-top: -12px;
    }

    img.rectangletext2 {
        margin-left: 218px;
        width: 215px;
        height: 190px;
    }

    .rectangletext1 {
        position: absolute;
        width: 194px;
        height: 75px;
        left: 43px;
        top: 21px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 75px;
        /* identical to box height */
        color: #000000;
    }

    .rectangletext2 {
        position: absolute;
        width: 194px;
        height: 75px;
        left: 43px;
        top: 21px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 75px;
        /* identical to box height */
        color: #000000;
    }

    .rect {
        width: 1150px;
        height: 229px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .rectangle2 {
        position: absolute;
        margin-left: 650px;
        width: 475px;
        height: 229px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 19px;
    }

    .rectangle1 {
        position: absolute;
        width: 475px;
        height: 229px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 19px;
    }

    .top {
        width: 100%;
        height: 648px;
        background: #ECECEC;
    }

    .text {
        padding-top: 104px;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 144px;
        line-height: 169px;
        /* identical to box height */
        color: #0EB000;
    }

    .body {
        margin: 0;
        position: relative;
    }
</style>