@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ShareMeet.ViewModels.NewMeetUp



    <style>


        .footer213 {
            display: flex;
            height: 140px;
            font-size: 30px;
            background: #d9751e;
        }

        .end11 {
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

        .end22 {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .end33 {
            margin-left: auto;
            margin-right: auto;
        }

        .end4 {
            display: flex;
        }

        .mid {
            height: auto;
        }

        .endback1 {
            background: #bf2011;
            font-family: Rasa;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 28px;
            padding-top: 18px;
            padding-left: 160px;
            padding-bottom: 18px;
            color: #FFFFFF;
        }

        .endback {
            height: 20px;
            background: #bf2011;
        }




        .endtext {
            width: 100%;
            margin: auto;
            padding-top: 26px;
            padding-bottom: 26px;
            background-color: #e3d59d;
        }

        .ser {
            width: 90%;
            margin: auto;
        }

        .midbackground {
            background-color: #f3f5d3;
            padding-top:94px;
            padding-bottom:94px;
        }

        


        .body {
            max-width: 100%;
        }



        a {
            display: block;
        }

        .header {
            list-style: none;
            text-align: center;
            background: white;
        }

        .body {
            margin: 0;
            position: relative;
            margin-bottom: 0px;
        }



        * {
            box-sizing: border-box;
        }

        .decor {
            position: relative;
            max-width: 400px;
            margin: 50px auto 0;
            background: white;
            border-radius: 30px;
        }

        .form-left-decoration,
        .form-right-decoration {
            content: "";
            position: absolute;
            width: 50px;
            height: 20px;
            background: #9E1635;
            border-radius: 20px;
        }

        .form-left-decoration {
            bottom: 60px;
            left: -30px;
        }

        .form-right-decoration {
            top: 60px;
            right: -30px;
        }

            .form-left-decoration:before,
            .form-left-decoration:after,
            .form-right-decoration:before,
            .form-right-decoration:after {
                content: "";
                position: absolute;
                width: 50px;
                height: 20px;
                border-radius: 30px;
                background: white;
            }

        .form-left-decoration:before {
            top: -20px;
        }

        .form-left-decoration:after {
            top: 20px;
            left: 10px;
        }

        .form-right-decoration:before {
            top: -20px;
            right: 0;
        }

        .form-right-decoration:after {
            top: 20px;
            right: 10px;
        }

        .circle {
            position: absolute;
            bottom: 80px;
            left: -55px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: white;
        }

        .form-inner {
            padding: 50px;
        }

            .form-inner input,
            .form-inner textarea {
                display: block;
                width: 100%;
                padding: 0 20px;
                margin-bottom: 10px;
                background: #E9EFF6;
                line-height: 40px;
                border-width: 0;
                border-radius: 20px;
                font-family: 'Roboto', sans-serif;
            }

                .form-inner input[type="submit"] {
                    margin-top: 30px;
                    background: #bf6b80;
                    border-bottom: 4px solid #9E1635;
                    color: white;
                    font-size: 14px;
                }

            .form-inner textarea {
                resize: none;
            }

            .form-inner h3 {
                margin-top: 0;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 24px;
                color: #9E1635;
            }

        .div_space {
            margin-bottom: 10px;
        }

        .ui-form {
  max-width: 1350px;
  padding: 80px 30px 30px;
  margin: 50px auto 30px;
  background: white;
}
.ui-form h3 {
  position: relative;
  z-index: 5;
  margin: 0 0 60px;
  text-align: center;
  color: #4a90e2;
  font-size: 30px;
  font-weight: normal;
}
.ui-form h3:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 60px;
  top: -30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fee8e4;
}
.ui-form h3:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 50px;
  top: -40px;
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 90px solid #ffe3b5;
}
.form-row {
  position: relative;
  margin-bottom: 40px;
}
        .form-row input {
            display: block;
            width: 100%;
            padding: 0 10px;
            line-height: 40px;
            font-family: 'Roboto', sans-serif;
            background: none;
            border-width: 0;
            border-bottom: 2px solid #bf2011;
            transition: all 0.2s ease;
        }
.form-row label {
  position: absolute;
  left: 13px;
  color: #bf2011;
  font-size: 20px;
  font-weight: 300;
  transform: translateY(-35px);
  transition: all 0.2s ease;
}
        .form-row input:focus {
            outline: 0;
            border-color: #bf2011;
        }
            .form-row input:focus + label,
            .form-row input:valid + label {
                transform: translateY(-60px);
                margin-left: -14px;
                font-size: 14px;
                font-weight: 400;
                outline: 0;
                border-color: #bf2011;
                color: #F77A52;
            }
        .ui-form input[type="submit"] {
            width: 100%;
            padding: 0;
            line-height: 42px;
            background: #bf2011;
            border-width: 0;
            color: white;
            font-size: 20px;
        }
.ui-form p {
  margin: 0;
  padding-top: 10px;
}
    </style>

    <div class="midbackground">
        <form id="add_ad" class="ui-form" style="background-color:#f3f5d3" asp-action="New_Comp" asp-controller="Profile" method="post" enctype="multipart/form-data">
            <div class="form-inner">
                <div class="validation" asp-validation-summary="ModelOnly" />
                <div>
                    <h3 style="color:#bf2011">Добавить компанию</h3>
                    <div class="form-row">
                        <input type="text" asp-for="Name" class="form-row" required autocomplete="off" /><label asp-for="Name" class="control-label">Название компании</label>
                        <span asp-validation-for="Name" />
                    </div>
                    <div class="form-row">
                        <input type="text" asp-for="Description" class="form-row" required autocomplete="off" /><label asp-for="Description" class="control-label">Описание компании</label>
                        <span asp-validation-for="Description" />
                    </div>
                    <div>
                        <div id="add">
                            <input type="submit" value="Добавить" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="mid">

        </div>
        </div>
